/* Copyright Chuong Vu */
/* This tag is for the html and body with background color */
html, body {
    background-color: #b0c4de;
    font-family: 'Josefins Sans', sans-serif;
    height: 100%;
    padding: 0;
    border: 0;
    padding-left: 6%;
    padding-right: 6%;
}


/* For header use with backgound image */
#header{
	height: 350px;
    width: 100%;
	background-image: url("../img/vdc.png");
    background-position: center;
	background-repeat: no-repeat;
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* background-size: cover; */
	background-color: black;
}

/* img for social media such as facebook, github, etc */
.img-social {
	width: 42px;
	height: 42px;
	display: inline-block;
	border-radius: 8px;
    border-radius: 4px;
    transition: 0.3s;
}

/* Header name container */
.text-header {
	padding-left: 10%;
}

/* these class is use for setup Name and about */
.name-tag {
    color: #EF574E;	
}

/* For First name in the header */
.fname{
	margin: 0;
	padding: 0;
	font-size: 3em;
}

/* For last name in the header */
.lname{
	margin: 0;
	padding: 0;
	font-size: 6em;
}
/* ---------------------------*/


/* for everything insize the header */
.container-fluid {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
}

/* center text for assignment */
.text-center{
	text-align:center;
}

/* left for li tag */
.text-left{
	text-align:left;
}

/* these for everything inside the div box */
div.pad-top-50 {
    padding-top: 50px;
}

div.pad-top-10 {
    padding-top: 10px;
}

div.space {
    padding: 10px;
}

div.about {
	padding-left: 15%;
    padding-right: 15%;
}

/* ---------------------------*/

/* this one if or my profile but not in use now */
.img-profile {
    position: relative;
    height: 250px;
	border-radius: 50%;
    border: black 1px solid;
}

.bg-project {
	background-color: #e1e1ea;
}

.font-white {
    color: #FFFFFF;
}

.project-table {
	display: inline-block;
	vertical-align: middle;
}

.project-assignment {
	border-radius: 5px;
	background-color: white;
	padding: 20px;
	transition: 0.3s;
	font-size: 1.1em;
    font-weight: bold;
}
	/* space */
.content-list li {
	margin: 10px 0; 
}

.content-list h1 {
	font-size: 1.4em;
	color: red;
}

.project-img {
	border-radius: 5px;
	padding: 20px;
	width: 300px;
	position: relative;
	/* background-color: white; */
}
/* ---------------------------*/


/* from here is for pictures on objects in the page */
/* these are for every img that stay at the positon */
.text-left a {
	color: Green;
}

.cplusplus {
	width: 50%;
	top: 0;
	right: 0;
}

.html5 {
	width: 35%;
	top: 0;
	right: 0;	
}

.javas {
	width: 40%;
	top: 0;
	right: 0;	
}

.css3 {
	width: 25%;
	top: 0;
	right: 0;	
}

.jquery {
	width: 30%;
	top: 0;
	right: 0;	
}
.bootstrap {
	width: 70%;
	top: 0;
	right: 0;	
}

/* ---------------------------*/

/*footer tag in web*/
#footer {
	font-style: italic;
	margin: auto;
	    font-weight: bold;
}

/* this for dropdown effect */
.dropdown {
    position: relative;
}

/* this is for conentent inside the dropdown when the mouse is at the position */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    padding-left: 12px;
	left: 55%;
	top: 10%;
	z-index: 9999;
	font-size: 10pt;
}

.dropdown:hover .dropdown-content {
	color: red;
    display: block;
}

.dropdown:hover a{
	color: red;
}

/* ---------------------------*/





